body {
    color:white;
    background-color: #964B00;
    font-size: 30px;
    font-family: "Skranji", system-ui;
    text-align:center;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}