body {
    color:white;
    background-color: #964B00;
    font-size: 30px;
    font-family: "Skranji", system-ui;
    text-align:center;
}

.title {  
    border: 5px solid white;
    width: 350px;
    margin: auto;
    margin-top: 10px;
    background-color: #F9D494;
}

.main {
    border: 5px solid white;
    margin:auto;
    margin-bottom: 20px;
    width: 600px;
    background-color: #F9D494;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}