body {
    text-align: center;
    color:white;
    background-color: #a28089;
    font-size: 30px;
    font-family: "Skranji", system-ui;
}

a {
    text-decoration: none;
}

.title {
    border: 5px solid white;
    width: 550px;
    margin: auto;
    margin-bottom: 40px;
}

p {
    margin: 45px;
}

.lasagna {
    color:white;
    padding: 16px;
    background-color: #B9484E;
}

.katsu {
    color:white;
    padding: 16px;
    background-color: #d4cc9a;
}

.steak {
    color:white;
    padding: 16px;
    background: #964B00;
}

a.lasagna:visited { text-decoration: none; color:white }
a.lasagna:hover { text-decoration: none; color:white}
a.lasagna:focus { text-decoration: none; color:white }
a.lasagna:hover, a:active { text-decoration: none; color:white}

a.katsu:visited { text-decoration: none; color:white }
a.katsu:hover { text-decoration: none; color:white}
a.katsu:focus { text-decoration: none; color:white}
a.katsu:hover, a:active { text-decoration: none; color:white}

a.steak:visited { text-decoration: none; color:white}
a.steak:hover { text-decoration: none; color:white}
a.steak:focus { text-decoration: none; color:white }
a.steak:hover, a:active { text-decoration: none; color:white }